<section id="services">
  <div class="container pb-0">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <p class="text-uppercase mb-0">Тонировка на любой вкус</p>
          <div class="title-icon"> <i class="fa fa fa-cog fa-spin font-48" aria-hidden="true"></i> </div>
          <h2 class="text-uppercase text-theme-colored title line-bottom">Виды <span class="text-theme-color-2 font-weight-400">тонировки</span></h2>
        </div>
      </div>
    </div>
    <div class="row mtli-row-clearfix">
    	{% for i in data %}
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="service-block">
          <div class="thumb"> <img src="{{i.image.url}}" class="img-fullwidth" alt="">
            <div class="price text-center">
              
            </div>
            <div class="desc">
              <p>{{ i.text }}<br>
                
            </div>
          </div>
          <div class="content">
            <h4 class="mt-0 text-theme-colored">{{ i.name }}</h4>
            <a href="#" class="btn-theme-colored">Заказать </a> </div>
        </div>
      </div>
   
    	{% endfor %}
     
    </div>
  </div>
</section>